@import "../../bootstrap/less/variables.less";
@import "../../bootstrap/less/mixins.less";
@import "../../bootstrap/less/mixins/border-radius.less";
@import "../font-awesome/css/font-awesome.min.css";

.title-div{
    background-color: #260126;
}
.row2{
    background-color: #59323C;
}
.row3{
    background-color: #59323C;
}
.left-column{
    font-size: 90%;
}
.left-column a{
    color: #F2EEB3;
}
.left-column a:hover{
    color: #260126;
}
.left-column a:focus{
    color: #260126;
}
.right-column{
    background-color: white;
    min-height: 500px;
}
.gray-border{
    border: 1px darkgray solid;
}
.school-choose{
    padding-left: 10px;
    #gradient > .radial(#606060, #484848);
    color: whitesmoke;
    padding-bottom: 15px;
}
.limited-select{
    max-width: 150px;
}
.content{
    padding: 7px 7px 7px 7px;
}
.btn{
    background-color:#260126;
    border-color: #59323C;
    color: white;
}
hr{
    margin-top: 1px;
    margin-bottom: 2px;
    height: 5px;
}
/*custom styling for checkboxes*/
input[type=checkbox] { 
    display:none; 
} /* to hide the checkbox itself */
label>input[type=checkbox] + span:before {
    font-family: FontAwesome;
    color: #260126;
    content: "\f096"; /* unchecked icon */
    letter-spacing: 5px; /* space between checkbox and label */
    margin-left: -18px; /* make the new checkbox overlap the old one*/
}
label>input[type=checkbox]:checked + span:before { 
    content: "\f046"; /* checked icon */
} 

/*custom styling for radio buttons*/
input[type=radio] { 
    display: none;
} /* to hide the checkbox itself */
label>input[type=radio] + span:before {
    font-family: FontAwesome;
    color: #260126;
    content: "\f10c"; /* unchecked icon */
    letter-spacing: 5px; /* space between checkbox and label */
    margin-left: -18px; /* make the new radio button overlap the old one */
}
label>input[type=radio]:checked + span:before { 
    content: "\f192"; /* checked icon */
} 
.nav-tabs{
    font-size: 85%;
}
.user-corner{
    color: #F2EEB3;
}
.user-corner a{
    color: #F2EEB3;
}
.login-form{
    .border-right-radius(5px);
    .border-left-radius(5px);
    background-color: white;
    padding: 10px; 
}
.pagefooter{
    font-size: 80%;
    min-height: 80px;
    background-color: #260126;
    color: #F2EEB3;
}
.pdf td, th{
    padding: 3px;
}