{% extends "base.html.twig" %}

{% block navnat%}
    active
{% endblock %}

{% block vertnav %}
    <li><a href="#" class="text-center"> National Option One</a></li>
    <li><a href="#" class="text-center"> National Option Two</a></li>
    <li><a href="#" class="text-center"> National Option Three</a></li>
{%endblock%}