<div class="row info-bar">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                {% block slot1 %}{% endblock %}
            </div>        
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% block slot2 %}{% endblock %}
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% block slot3 %}{% endblock %}
            </div> 
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% block slot4 %}{% endblock %}
            </div> 
        </div>
    </div>
</div>