{% extends 'base.html.twig' %}

{% block main_nav_items %}
	<li class="{% block navusers %}{% endblock %}"><a href="{{path('admin_users_main')}}"><i class="fa fa-users"></i> User Management</a></li>
    <li class="{% block system_settings %}{% endblock %}"><a href="{{path('admin_settings_main')}}"><i class="fa fa-cog fa-lg"></i> System settings</a></li>
{% endblock %}
