{% extends 'district/district2.html.twig' %}

{% block district_snl %} active {% endblock %} {# Cause the menu item for this page to be active#}

{% block content %}
	<ul class="nav nav-tabs">
		<li class="{% block district_basic_reports %}{% endblock %}"><a href="{{ path('district_snl',{"iddistrict": iddistrict})}}">Basic Reports</a></li>
		<li class="{% block district_custom_reports %}{% endblock %}"><a href="{{ path('district_custom_snl',{"iddistrict": iddistrict})}}">Custom Reports</a></li>
	</ul>
	{% block reports_body %}
		
	{% endblock %}
{% endblock %}