
{% extends 'school/school2.html.twig' %}

{% block learners_menuitem %} active {% endblock %} {# Cause the menu item for this page to be active#}

{% set emisCode = app.request.attributes.get('_route_params')['emisCode'] %} {# get the emisCode from the Route#}

{% set learnerId = app.request.get('learnerId') %}

{% block content %}
	<div class="row">
		<div class="col-sm-2">
			{# embed the controller that returns the form for selecting existing students #}
			{{ render(controller('AppBundle:School:findLearnerForm',{"emisCode":emisCode, "learnerId":learnerId})) }}
		</div>
		<div class="col-sm-6 col-sm-offset-1">
			{% block learner_form_nav %}{% endblock %}			
		</div>
		<div class="col-sm-3">
			<p class="text-right"><a href="{{ path('edit_learner_personal',{"emisCode":emisCode, "learnerId": "new"}) }}" class="btn btn-sm" id="add_learner"><i class="fa fa-plus fa-lg"></i> Add New Learner</a>
			</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			{% block student_exit_button %}
				{% if learnerId is not null %}
					<div class="row">
						<div class="col-sm-12">
							<a href="{{ path('learner_exit', {"emisCode":emisCode, "learnerId":learnerId }) }}" class="btn btn-sm">Learner exited school</a>
						</div>
					</div>				
				{% endif %}
			{% endblock %}
			{% block form_container %}
				{% set learnerExitMessage = app.session.flashbag.get('exitMessage') %}
				{% if learnerExitMessage is not empty %}
					{% for message in learnerExitMessage %}
						<div class="alert alert-success alert-dismissible" alert="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endblock %}
		</div>
	</div>
    {% block transfers %}{% endblock %}
{% endblock %}