<ul class="nav nav-sm nav-tabs">
    <li class="{% block class_info %}{% endblock %}"><a href="{% block material_link %}{% endblock %}">Room Details</a></li>
    <li class="{% block resource_room_info %}{% endblock %}"><a href="{% block resource_link %}{% endblock %}">Special Needs Resources</a></li>
</ul>
