<ul class="nav nav-sm nav-tabs">
    <li class="{% block class_info %}{% endblock %}"><a href="">Room Details</a></li>
    <li class="{% block resource_room_info %}{% endblock %}"><a href="{{ path('edit_school_material',{'needId':need, 'emisCode':emisCode})}}">Resource Room Materials</a></li>
</ul>
