{% extends "base.html.twig" %}

{% block navzone%}
    active
{% endblock %}

{% block vertnav %}
    <li><a href="#" class="text-center"> Zonal SNL reports</a></li>
    <li><a href="#" class="text-center"> Zonal school facility reports </a></li>
{%endblock%}