{% extends "base.html.twig" %}

{% block navdistr%}
    active
{% endblock %}

{% block vertnav %}
    <li><a href="#" class="text-center"> district Option One</a></li>
    <li><a href="#" class="text-center"> district Option Two</a></li>
    <li><a href="#" class="text-center"> district Option Three</a></li>
{%endblock%}